<?xml version="1.0"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="Logs/internalLog.txt"
      internalLogLevel="Off"
      autoReload="true">

  <variable name="appTitle" value="FaceDetection" />
  <variable name="commonLogFilePath" value="Logs/common_${date:format=yyyy-MM-dd}.log" />

  <targets async="true">
    <target name="commonFile" xsi:type="File" fileName="${commonLogFilePath}"
            layout="${longdate}|[${level}]|${message}${onexception:inner=|${exception}${when:when=(level > LogLevel.Warn):inner=|[!] ${exception:format=ToString:innerFormat=Message:maxInnerExceptionLevel=5} }}"
            encoding="UTF-8"
            archiveEvery="Day"
            maxArchiveDays="5"
            archiveFileName="Logs/common_${shortdate}.zip" />

    <target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
            layout="${longdate}| ${message}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="DarkGreen" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="commonFile" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>